<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="popup.css">
  <script src="popup.js"></script>
  <script src="toast.js"></script>
  <script src="modal.js"></script>
  <script src="index.js"></script>
</head>
<body class="body">
<div class="popup">
  <div class="left">
    <button class="button" onclick="UI.Toast.create(Toast.type.ERROR, 'ERROR')">Click to show error popup</button>
    <button class="button" onclick="UI.Toast.create(Toast.type.WARNING, 'WARNING')">Click to show warning popup</button>
    <button class="button" onclick="UI.Toast.create(Toast.type.INFO, 'INFO')">Click to show info popup</button>
    <button class="button" onclick="UI.Toast.create(Toast.type.SUCCESS, 'SUCCESS')">Click to show success popup</button>
    <button class="button" onclick="UI.Modal.create(Modal.type.MODAL, 'MODAL MESSAGE')">Click to show modal popup</button>
  </div>
  <div class="right">
  </div>
</div>
</div>
</body>
</html>
