.body {
    font-family: sans-serif;
}

.popup {
    cursor: pointer;
    display: flex;
}

.left {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.right {

}

.toast-content {
    display: flex;
    align-items: center;
    margin: 5px 10px;
    width: 100%;
}

.toast-error {
    margin-top: 5px;
    display: flex;
    align-items: center;
    visibility: hidden;
    width: 20%;
    min-width: 200px;
    height: 50px;
    background-color: darkred;
    color: #fff;
    border-radius: 6px;
}

.toast-warning {
    margin-top: 5px;
    display: flex;
    align-items: center;
    visibility: hidden;
    width: 20%;
    min-width: 200px;
    height: 50px;
    background-color: orangered;
    color: #fff;
    border-radius: 6px;
}

.toast-info {
    margin-top: 5px;
    display: flex;
    align-items: center;
    visibility: hidden;
    width: 20%;
    min-width: 200px;
    height: 50px;
    background-color: dodgerblue;
    color: #fff;
    border-radius: 6px;
}

.toast-success {
    margin-top: 5px;
    display: flex;
    align-items: center;
    visibility: hidden;
    width: 20%;
    min-width: 200px;
    height: 50px;
    background-color: limegreen;
    color: #fff;
    border-radius: 6px;
}

.modal {
    visibility: hidden;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

img {
    border: 2px solid white;
    background-color: white;
    border-radius: 20px;
}

.toast-text {
    margin-left: 10px;
    flex-grow: 1;
}

.show {
    visibility: visible;
    animation: fadeIn 1s;
}

.hide {
    visibility: hidden;
    animation: fadeOut 1s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.button{
    width: 300px;
    height: 40px;
    margin-top: 5px;
}
