.contact-list__body {
    /*display: flex;*/
}

.contact-list__container {
    width: 100%;
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.contact-list__button {
    margin: 0px 5px;
    cursor: pointer;
    background-color: #ECECEC;
    padding: 10px;
    border: 1px solid #ccc;
}