.contact-explorer__body {
}

.contact-explorer__container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.contact-explorer__container__navbar {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.contact-explorer__button {
    display: flex;
    margin: 0px 5px;
    cursor: pointer;
    background-color: #ECECEC;
    padding: 10px;
    border: 1px solid #ccc;
    justify-content: center;
    width: 20%;
}

.contact-explorer__ul {
    list-style: none;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-explorer__ul > li {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px 0px;
    user-select: none;
    background-color: white;
    cursor: pointer;
}

.contact-explorer__ul > li:hover {
    background-color: whitesmoke;
}

@media screen and (min-width: 640px) {
    .contact-explorer__body {
    }

    .contact-explorer__container {
        flex-wrap: wrap;
    }

    .contact-explorer__button {
        margin: 0px 5px;
        cursor: pointer;
        background-color: #ECECEC;
        padding: 10px;
        border: 1px solid #ccc;
        max-width: 10%;
    }
}


