@font-face {
    font-family: 'BebasNeueRegular';
    src: url('fonts/BebasNeueRegular.otf') format('opentype');
}

body {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-family: 'BebasNeueRegular', sans-serif;
    letter-spacing: 1px;
}
